.OnlyLogo {
  .OnlyLogo_in_logo {
    height: 2em;
    width: auto;
    line-height: 2em;
    font-size: 1.02em;
    font-weight: bold;
    font-family: "Yfont";
    border-bottom: 4px solid rgb(27, 85, 139);

    h2 {
      color: coral;
      padding-left: 80px;
      margin-top: 30px;
      font-family: "Roboto Medium";
    }
  }
}
