$lightblue: #3ea8ff;
$deepblue: #156fb9;
$darkblue: rgb(12, 86, 129);

.Weather {
  position: absolute;
  color: #363636;
  width: 100%;
  height: 100%;
  top: 0.33%;

  .WeatherData {
    position: relative;
    width: 600px;
    left: 55%;
    font-family: Cafe24SsurroundAir;

    .WeatherRegionDeco {
      position: absolute;
      top: 3vh;
      //left: 28vh;
      width: 44vw;
      height: 0.3vh;
      background: #12203a;
      //transform: rotate(270deg);
      padding: 0;
    }

    .WeatherRegion {
      position: relative;
      width: 160%;
      left: -10%;
      font-size: 22px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 50px;
      font-family: Cafe24Simplehae;
    }

    .WeatherDayListSection {
      position: relative;
      color: #005096;
      width: 400px;
      float: left;
      height: 50px;
      border-bottom: 0.04em solid rgb(0, 0, 0);
      margin-bottom: 30px;
      &:nth-child(1) {
        margin-top: 30px;
      }

      .WeatherDayList_Day {
        color: rgb(100, 200, 200);
        font-size: 20px;
        font-weight: bold;
      }

      .WeatherDayList_Weather {
        color: $deepblue;
        font-size: 17px;
        margin-bottom: 50px;
      }
    }
  }
}
