/* 전체 itesm 중앙 정렬 디자인  */

/*아래 App폰트*/
@font-face {
  font-family: "BlackhanSans";
  font-weight: 50;
  src: url("./fonts/BlackHanSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Yfont";
  src: url("./fonts/Y\ 너만을\ 비춤체.ttf");
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("./fonts/BMDOHYEON_ttf.ttf");
}

@font-face {
  font-family: "tway_sky";
  src: url("./fonts/tway_sky.ttf");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./fonts/SpoqaHanSansNeo-Light.ttf");
}

@font-face {
  font-family: "SEBANG";
  src: url("./fonts/SEBANG\ Gothic.ttf");
}

@font-face {
  font-family: "Gmarket";
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}

/* 나눔 명조 */
@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: 700;
  src: url("./fonts/NanumMyeongjoBold.ttf") format("truetype");
}

/* 로보토 */
@font-face {
  font-family: "Roboto Regular";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

/*나눔스퀘어*/
@font-face {
  font-family: "NanumSquare";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Y";
  src: url("./fonts/Y 너만을 비춤체.ttf") format("truetype");
}

@font-face {
  font-family: "SEBANG";
  src: url("./fonts/SEBANG Gothic.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

// Cafe24Ohsquareair
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("./fonts/Cafe24Ohsquareair.ttf") format("truetype");
}

//Cafe24Dangdanghae
@font-face {
  font-family: "Cafe24Dangdanghae";
  src: url("./fonts/Cafe24Dangdanghae.ttf") format("truetype");
}

//Cafe24Simplehae
@font-face {
  font-family: "Cafe24Simplehae";
  src: url("./fonts/Cafe24Simplehae.ttf") format("truetype");
}

//Cafe24SsurroundAir
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("./fonts/Cafe24SsurroundAir.ttf") format("truetype");
}

//GowunBatang-Regular
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("./fonts/GowunBatang-Regular.ttf") format("truetype");
}

//GowunBatang-Bold
@font-face {
  font-family: "GowunBatang-Bold";
  src: url("./fonts/GowunBatang-Bold.ttf") format("truetype");
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
